Repository PitchConnect/match-list-change-detector, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, docker, tests, github-actions, configuration

Update dependencies
  requirements.in
  requirements.txt
Labels: dependencies

Update dependencies
  requirements.in
  requirements.txt
Labels: dependencies

Implement comprehensive test infrastructure improvements
  .coverage
  .github/workflows/ci.yml
  .hypothesis/constants/53410253a15b2fb0
  .hypothesis/constants/bee728a210f0e118
  .hypothesis/constants/d9f7ee38ad2a57ca
  .hypothesis/constants/e20c80fe61dde9be
  .hypothesis/unicode_data/15.1.0/charmap.json.gz
  .hypothesis/unicode_data/15.1.0/codec-utf-8.json.gz
  TESTING.md
  coverage.xml
  health_server.py
  logging_config.py
  match_list_change_detector.py
  pytest.ini
  python_compat.py
  requirements-dev.txt
  requirements.txt
  scripts/local-ci.sh
  scripts/run-all-tests.sh
  scripts/validate-tests.sh
  tests/integration/__init__.py
  tests/integration/test_configuration.py
  tests/integration/test_end_to_end.py
  tests/test_detector_isolated.py
  tests/test_main_isolated.py
  tests/test_persistent_service.py
  tests/test_utils.py
Labels: dependencies, tests, github-actions, configuration

Fix test assertion for health server host default value
  tests/test_persistent_service.py
Labels: tests

Update dependencies
  requirements.in
  requirements.txt
Labels: dependencies

fix: Update pip-tools to version >=7.0.0 for pip 23.1+ compatibility
  .github/workflows/dependencies.yml
Labels: github-actions

chore: Harmonize pre-commit hooks with CI/CD configuration
  .pre-commit-config.yaml
Labels: dependencies

chore: Exclude docs/ directory from mypy pre-commit hook
  .pre-commit-config.yaml
Labels: dependencies

chore: Skip mypy in pre-push hook to align with CI/CD
  .pre-commit-config.yaml
Labels: dependencies

docs: Add code quality improvements tracking document
  docs/CODE_QUALITY_IMPROVEMENTS.md
Labels: documentation

fix: Disable contributing-reminder workflow incompatible with fork PRs
  .github/workflows/contributing-reminder.yml
Labels: github-actions

chore: Align pre-commit exclusions with CI/CD configuration
  .pre-commit-config.yaml
Labels: dependencies

Update dependencies
  requirements.in
  requirements.txt
Labels: dependencies

Update dependencies
  requirements.in
  requirements.txt
Labels: dependencies

Update dependencies
  requirements.in
  requirements.txt
Labels: dependencies

Update dependencies
  requirements.in
  requirements.txt
Labels: dependencies

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**/*

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - requirements.txt
    - Pipfile
    - Pipfile.lock
    - pyproject.toml
    - setup.py
    - .pre-commit-config.yaml

docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - docker-compose.yml
    - scheduled-docker-compose.yml
    - docker-compose.override.yml.example

tests:
- changed-files:
  - any-glob-to-any-file:
    - tests/**/*
    - pytest.ini

github-actions:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

configuration:
- changed-files:
  - any-glob-to-any-file:
    - config.py
    - logging_config.py
    - setup.cfg
    - .env.example
    - .coveragerc
    - stubs/**/*
